/* Define standard variables and values for website */
/* Use the variables */
body {
  background-color: lightblue;
  color: darkblue;
  font-size: 18px;
  background-image: url("./assets/img/honeycomb-g4d1cf969f_1280.jpg");
  background-attachment: fixed; }
