main {
  height: 100%;
  overflow: hidden;
  align-items: center;
  text-align: center;
  background: 
    linear-gradient(
      to right,
      rgba($primary-color, 0.8),
      rgba($primary-color, 0.1)
    ),
    url("../assets/img/bee-ge77860b92_1280.png") center top;
  background-size: cover;
}

.home {
  padding: 1rem 0;
  font-size: 1.8rem;

  h1 {
    padding: 1rem 0;
    font-size: 3rem;
  }

  form {
    padding: 1.5rem 0;

    input {
      margin: 2px 0px;
    }
  }

  p {
    padding: 5px 0;
    margin: 5px 0px;
  }
}

.carousel {
  padding: 1rem;
}
