/* Define standard variables and values for website */
@import "config";
@import "temp";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");

/* Use the variables */
// body {
//   // background-color: $bgcolor;
//   color: $textcolor;
//   font-size: $fontsize;
//   background-image: $home_img;
//   background-image: ;
//   // background-attachment: fixed;
//   // background size: cover;
// }
html {
  background: $primary-color;
  color: $primaryText-color;
  height: 100vh;
  line-height: 1;
  padding: 1px;
}

body {
  height: 100%;
  width: 100%;
  font-family: "Dancing Script", cursive;
  font-weight: 400;
}

footer {
  position: fixed;
  bottom: 0.4rem;
  right: 1rem;
  text-align: center;
  padding: 1rem;
  color: $primaryText-color;
}
