@import "../App.scss";

main {
  
  .home {
    padding: 1rem;
    font-size: 1.8rem;
    text-align: center;

    width: 95vw;

    .homeCard {
      background-color: rgba(245, 206, 78, 0.5);
    }

    .buttonDiv {
      display: inline-block;
      padding: 0.5rem;

      button {
        margin: 1rem;
      }
    }
    p {
      padding: 5px 0;
      margin: 5px 0px;
    }
  }
}
