@import "../App.scss";

main {
  background: linear-gradient(
      to right,
      rgba(245, 206, 78, 0.8),
      rgba(245, 206, 78, 0.1)
    ),
    url("../assets/img/bee.png") center top;
  background-size: cover;
  width: 100vw;

  .home {
    font-family: $secondaryFont;
    padding: 1rem;
    font-size: 1.8rem;
    text-align: center;
    width: 95vw;

    card {
      opacity: 1;
    }
    p {
      padding: 5px 0;
      margin: 5px 0px;
    }
  }
}
