@import "../App.scss";

  .home {
    padding: 1rem;
    font-size: 1.8rem;
    text-align: center;
 
    width: 95vw;
 
    .homeCard {
      background-color: rgba(245, 206, 78, 0.5);
    }
 
    .buttonDiv {
      display: inline-block;
      padding: 0.5rem;
      button {
        margin: 1rem;
      }
    }
    p {
      padding: 5px 0;
      margin: 5px 0px;
    }
  }
  .card {
    margin-left: auto;
    margin-right: auto;
  }
 
  .signUpSection {
    margin-top: 50px;
    width: 70%;
  }
 
  .footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
  }
}
